{% from 'macros.html' import render_field %}
<form enctype="multipart/form-data" method="post" action="">
{% if person.images[0] %}
    <img src="/uploads/{{ person.images[0].image_url }}" onclick="$('#photos').modal('show');" class="col-md-12 avatar " alt="avatar">
{% endif %}
{% if not person.images[0] %}
    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" onclick="$('#photos').modal('show');" class="col-md-12 avatar " alt="avatar">
{% endif %}
<div class="col-md-12 mt-2">
    <div class="custom-file">
        {{ person_image.image.label(class_="custom-file-label text-truncate",id="logo") }}
        {{ person_image.image(class_="custom-file-input file-upload") }}
        {% if person_image.image.errors %}
            <ul class=errors>
                {% for error in person.image.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

<div class="col-md-12 mt-2">
    {{ render_field(person_image.category, class="form-control") }}
</div>
<div class="col-md-12 mt-2">
    <label for="image_date" class="text-primary">{{ person_image.image_date.label.text }}</label>
    {{ render_field(person_image.image_date, class="form-control") }}
</div>

<div class="col-md-12 mt-2">
    {{ render_field(person_image.submit1, class='btn  btn-outline-primary') }}
</div>
</form>